#countainer .photos{
	position:relative;
}
#countainer .photos img{
	position:absolute;
	opacity:0;
	transition:opacity 5s;
	width:1000px;
	height:1000px;
	
}
.buttons{
	top:1100px;
	position:absolute;
}
#countainer .photos img.show{
	opacity:1;
}