#countainer .photos{
	position:relative;
}
#countainer .photos img{
	position:absolute;
	opacity:0;
	transition:opacity 1.25s;
	width:100px;
	height:100px;
	
}
.buttons{
	top:200px;
	position:absolute;
}
#countainer .photos img.show{
	opacity:1;
}